## Objectives

In this part you will:

*   Collect exchange rate data using an API
*   Store the data as a CSV

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment. Others may need to be installed by you. The cells below will install these libraries when executed.

In [1]:
#!mamba install pandas==1.3.3 -y
#!mamba install requests==2.26.0 -y

## Imports

Import any additional libraries you may need here.

In [1]:
import requests
import pandas as pd
import json

## Extract Data Using an API

Using ExchangeRate-API we will extract currency exchange rate data. Use the below steps to get the access key and to get the data.

1.  Open the url : [https://exchangeratesapi.io/](https://exchangeratesapi.io/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01) and click on **Get Free API Key**.
2.  Subscribe for Free plan and Sign-in with the Google Account.
3.  Once the account is created you will be redirected to [https://apilayer.com](https://apilayer.com/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01) website.
4.  Now, click on the **user icon** and click **Account** as shown below:

<img src="/Users/umerfarooq/Python-Project-For-Data-Engineering/Final Project/Project Files/API KEY.png"/>


3.  Scroll down and you will get the API Key section. Copy the API key and use in the url.

### Call the API

Using the `requests` library call the endpoint given above and save the text, remember the first few characters of the output:

In [2]:
# Calling the API
url = "https://api.apilayer.com/exchangerates_data/latest?base=EUR&apikey=DQdUAD4tvuqyxxp7Qm7BD1z69Aa8zvMX"
data = requests.get(url).text

data = json.loads(data) # Loads is used to convert JSON to Python Dictionary
data

{'success': True,
 'timestamp': 1662705904,
 'base': 'EUR',
 'date': '2022-09-09',
 'rates': {'AED': 3.698218,
  'AFN': 88.602993,
  'ALL': 118.109421,
  'AMD': 407.447526,
  'ANG': 1.808225,
  'AOA': 432.413246,
  'ARS': 142.084304,
  'AUD': 1.472903,
  'AWG': 1.812351,
  'AZN': 1.707805,
  'BAM': 1.960721,
  'BBD': 2.025721,
  'BDT': 95.357884,
  'BGN': 1.955965,
  'BHD': 0.379529,
  'BIF': 2070.619922,
  'BMD': 1.006862,
  'BND': 1.40883,
  'BOB': 6.934198,
  'BRL': 5.25028,
  'BSD': 1.003289,
  'BTC': 4.8711905e-05,
  'BTN': 79.973717,
  'BWP': 13.038112,
  'BYN': 2.532377,
  'BYR': 19734.490553,
  'BZD': 2.022313,
  'CAD': 1.311518,
  'CDF': 2043.929341,
  'CHF': 0.970453,
  'CLF': 0.032193,
  'CLP': 888.303592,
  'CNY': 6.97896,
  'COP': 4427.926318,
  'CRC': 657.64015,
  'CUC': 1.006862,
  'CUP': 26.681837,
  'CVE': 110.54076,
  'CZK': 24.513026,
  'DJF': 178.607423,
  'DKK': 7.436379,
  'DOP': 53.269514,
  'DZD': 141.314003,
  'EGP': 19.456702,
  'ERN': 15.102926,
  'ETB': 52.971033,
  'EUR': 1,
  'FJD': 2.23604,
  'FKP': 0.829256,
  'GBP': 0.868363,
  'GEL': 2.864519,
  'GGP': 0.829256,
  'GHS': 10.085259,
  'GIP': 0.829256,
  'GMD': 54.970146,
  'GNF': 8675.804301,
  'GTQ': 7.788722,
  'GYD': 209.943735,
  'HKD': 7.902506,
  'HNL': 24.725401,
  'HRK': 7.51985,
  'HTG': 119.88633,
  'HUF': 396.527303,
  'IDR': 14947.567674,
  'ILS': 3.446956,
  'IMP': 0.829256,
  'INR': 80.173129,
  'IQD': 1464.613692,
  'IRR': 42590.252411,
  'ISK': 140.104735,
  'JEP': 0.829256,
  'JMD': 151.712072,
  'JOD': 0.713888,
  'JPY': 143.692217,
  'KES': 121.176056,
  'KGS': 82.449698,
  'KHR': 4130.275487,
  'KMF': 495.828969,
  'KPW': 906.175939,
  'KRW': 1386.997361,
  'KWD': 0.310476,
  'KYD': 0.836286,
  'KZT': 477.120246,
  'LAK': 15787.369532,
  'LBP': 1517.160811,
  'LKR': 361.261419,
  'LRD': 154.554377,
  'LSL': 17.388743,
  'LTL': 2.973001,
  'LVL': 0.609041,
  'LYD': 4.991586,
  'MAD': 10.726559,
  'MDL': 19.478833,
  'MGA': 4228.866512,
  'MKD': 61.769092,
  'MMK': 2106.906286,
  'MNT': 3216.884632,
  'MOP': 8.11344,
  'MRO': 359.449476,
  'MUR': 45.05666,
  'MVR': 15.494431,
  'MWK': 1029.781044,
  'MXN': 20.037083,
  'MYR': 4.527842,
  'MZN': 64.267951,
  'NAD': 17.388481,
  'NGN': 429.859185,
  'NIO': 36.056817,
  'NOK': 10.022151,
  'NPR': 127.955882,
  'NZD': 1.649008,
  'OMR': 0.387641,
  'PAB': 1.003503,
  'PEN': 3.906044,
  'PGK': 3.535164,
  'PHP': 57.277362,
  'PKR': 225.363679,
  'PLN': 4.705875,
  'PYG': 6929.707428,
  'QAR': 3.665993,
  'RON': 4.878678,
  'RSD': 117.34931,
  'RUB': 61.141693,
  'RWF': 1038.108039,
  'SAR': 3.784294,
  'SBD': 8.256461,
  'SCR': 13.651634,
  'SDG': 581.471232,
  'SEK': 10.693456,
  'SGD': 1.408293,
  'SHP': 1.386853,
  'SLL': 14398.123105,
  'SOS': 571.390967,
  'SRD': 26.662206,
  'STD': 20840.005646,
  'SVC': 8.780905,
  'SYP': 2529.770758,
  'SZL': 17.449705,
  'THB': 36.622609,
  'TJS': 10.158474,
  'TMT': 3.524016,
  'TND': 3.223468,
  'TOP': 2.388629,
  'TRY': 18.364115,
  'TTD': 6.807482,
  'TWD': 31.066824,
  'TZS': 2348.001461,
  'UAH': 37.053623,
  'UGX': 3833.362881,
  'USD': 1.006862,
  'UYU': 40.930179,
  'UZS': 11016.061165,
  'VND': 23704.043053,
  'VUV': 116.852428,
  'WST': 2.685764,
  'XAF': 657.456731,
  'XAG': 0.053519,
  'XAU': 0.000585,
  'XCD': 2.721094,
  'XDR': 0.777173,
  'XOF': 657.456731,
  'XPF': 120.390682,
  'YER': 251.967207,
  'ZAR': 17.531427,
  'ZMK': 9062.967186,
  'ZMW': 15.525916,
  'ZWL': 324.209077}}

### Save as DataFrame

<b> Question 2</b>  Using the data gathered turn it into a `pandas` dataframe. The dataframe should have the Currency as the index and `Rate` as their columns. Make sure to drop unnecessary columns.

In [3]:
# Turn the data into a dataframe
df = pd.DataFrame(data)
df

     success   timestamp base        date        rates
AED     True  1662705904  EUR  2022-09-09     3.698218
AFN     True  1662705904  EUR  2022-09-09    88.602993
ALL     True  1662705904  EUR  2022-09-09   118.109421
AMD     True  1662705904  EUR  2022-09-09   407.447526
ANG     True  1662705904  EUR  2022-09-09     1.808225
..       ...         ...  ...         ...          ...
YER     True  1662705904  EUR  2022-09-09   251.967207
ZAR     True  1662705904  EUR  2022-09-09    17.531427
ZMK     True  1662705904  EUR  2022-09-09  9062.967186
ZMW     True  1662705904  EUR  2022-09-09    15.525916
ZWL     True  1662705904  EUR  2022-09-09   324.209077

[167 rows x 5 columns]

In [4]:
# Drop unnescessary columns from df
df.drop(['success','timestamp','base', 'date'], axis=1, inplace=True) # inplace=True is used to make changes in the original dataframe

In [5]:
df.head(5)

          rates
AED    3.698218
AFN   88.602993
ALL  118.109421
AMD  407.447526
ANG    1.808225

### Load the Data

Using the dataframe save it as a CSV names `exchange_rates_1.csv`.

In [6]:
# Save the Dataframe as a CSV file
df.to_csv('exchange_rates_1.csv')

The CSV should be in this format with more currencies

|     | Rates      |
| --- | ---------- |
| AED | 4.398618   |
| AFN | 92.917693  |
| ALL | 123.099093 |
| AMD | 621.935674 |
| ANG | 2.149648   |

## Authors

Umer Farooq | Umer86